@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka";
}

:root {
  --background-color: rgb(231, 231, 231);
  --text-color: #000;
  --component-color: #f4d35e;
  --interaction-color: #da4167;
  --color-mode-active: #da4167;
  --color-mode-passive: #000;
  --color-light-side: #da4167;
  --color-dark-side: #000;
  --background-color-modal: #eee;
}

body {
  overflow-x: hidden;
  background-color: var(--background-color);
  transition: all 0.15s ease-in-out;
}

.display {
  display: none !important;
}

.header {
  width: 100vw;
  display: flex;
  position: relative;
  height: 4rem;
  background-color: var(--component-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.color-mode-container {
  position: relative;
  display: flex;
  min-width: 10rem;
  align-items: center;
  justify-content: space-around;
}

.color-mode-container .fas {
  font-size: 2rem;
}

.color-switch {
  display: flex;
  position: relative;
  width: 60%;
  height: 2rem;
  border-radius: 35px;
  background-color: var(--interaction-color);
}

.ball-light {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  left: 0;
  transition: all 0.15s ease-in-out;
}

.ball-dark {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  right: 0;
  transition: all 0.15s ease-in-out;
}

.ball-light:hover,
.ball-dark:hover {
  cursor: pointer;
}

.light {
  color: var(--color-light-side);
}

.dark {
  color: var(--color-dark-side);
}

.header .search-text {
  height: 50%;
  position: absolute;
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  font-size: 1.25rem;
  top: 1rem;
  right: 5rem;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.header .search-button {
  font-size: 2rem;
  align-items: center;
  height: 2rem;
  width: 2rem;
  color: var(--text-color);
  top: 1rem;
  right: 2rem;
  position: absolute;
  transition: all 0.15s ease;
}

.header .search-button:hover {
  cursor: pointer;
  color: var(--interaction-color);
  scale: 1.05;
}

.header .search-button:active {
  scale: 0.95;
}

.input-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container .input-content {
  width: 20vw;
  min-width: 15rem;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  background-color: var(--component-color);
  margin: 1rem 0.5rem;
  border-radius: 35px;
  color: var(--text-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.input-container .input-content:focus {
  outline: none;
}

.input-container .input-category {
  transition: all 0.15s ease;
}

.input-container .input-category:hover {
  cursor: pointer;
  color: var(--interaction-color);
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
}

.input-container .input-category:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.input-container .input-time {
  width: 8vw;
  min-width: 4rem;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  background-color: var(--component-color);
  margin: 1rem 0.5rem;
  border-radius: 35px;
  color: var(--text-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-container .input-time:focus {
  outline: none;
}

.input-container .input-submitt,
.input-container .input-sort-by-time {
  width: 10vw;
  min-width: 8rem;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  background-color: var(--component-color);
  margin: 1rem 0.5rem;
  border-radius: 35px;
  color: var(--text-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease;
}

.input-container .input-submitt:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
  color: var(--interaction-color);
}

.input-container .input-submitt:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.input-sort-by-time:hover {
  cursor: pointer;
  scale: 1.05;
  color: var(--interaction-color);
}
.input-sort-by-time:active {
  scale: 0.95;
}

.separate-container {
  width: 100%;
  padding: 0 15vw;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border-bottom: var(--component-color) solid 1px;
  text-align: center;
  color: var(--interaction-color);
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  font-family: "Fredoka";
}

.todo-unpin-container,
.todo-pin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-unpin-container .todo-container,
.todo-pin-container .todo-container {
  display: flex;
  flex-direction: row;
  background-color: var(--component-color);
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 35px;
  color: var(--text-color);
}

.todo-container .todo-content,
.todo-category,
.todo-time {
  font-size: 1.25rem;
  margin: auto 1rem;
}

.todo-container .check-button {
  font-size: 2rem;
  margin: 0 1rem;
  color: rgb(35, 245, 35);
}

.todo-container .check-button:hover {
  cursor: pointer;
}

.todo-container .remove-button {
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--interaction-color);
}

.todo-container .remove-button:hover {
  cursor: pointer;
}

.todo-pin {
  font-size: 1.75rem;
  margin: 0 0.25rem;
  transition: all 0.15s ease;
}
.todo-pin:hover {
  cursor: pointer;
  color: var(--interaction-color);
}
.todo-pin:active {
  scale: 0.95;
}
.check-toggle {
  opacity: 0.5;
  color: var(--interaction-color);
}

.modal-separate {
  width: 100%;
  margin-top: 1rem;
  border-bottom: var(--component-color) solid 0.2rem;
}

.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 50%);
}

.modal-container {
  width: 50vw;
  border: var(--component-color) solid 0.2rem;
  background-color: var(--background-color-modal);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.modal-button-container {
  display: flex;
  justify-content: space-around;
}

.modal-button-container .modal-button {
  width: 20%;
  background-color: var(--component-color);
  border: none;
  border-radius: 35px;
  color: var(--text-color);
  font-size: 1.25rem;
  margin-top: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease;
}

.modal-button-container .modal-button:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
  color: var(--interaction-color);
}

.modal-button-container .modal-button:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
}

.tag {
  background-color: var(--component-color);
  border: none;
  min-width: 20%;
  border-radius: 35px;
  color: var(--text-color);
  font-size: 1.25rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 0.5rem 0.25rem;
  transition: all 0.15s ease;
}

.tag:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
  color: var(--interaction-color);
}

.tag:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tag-checked {
  background-color: var(--interaction-color);
  color: var(--background-color);
}

.tag-checked:hover {
  scale: 1.05;
  color: var(--background-color);
}

.result {
  display: flex;
  justify-content: center;
  position: relative;
}

.result .result-container {
  position: absolute;
  width: 50vw;
  height: 480px;
  color: var(--text-color);
  border: var(--component-color) solid 0.2rem;
  background-color: var(--background-color-modal);
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.result-header {
  display: flex;
  position: relative;
  justify-content: center;
}
.result-title {
  font-size: 2.5rem;
  top: 0;
  margin-top: 0.5rem;
}

.result-close-button {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  right: 0.5rem;
  top: 0.5rem;
  transition: all 0.15s ease;
}

.result-close-button:hover {
  color: var(--interaction-color);
  scale: 1.05;
}
.result-close-button:active {
  scale: 0.95;
}

.search-condition {
  font-size: 2rem;
  text-align: center;
}

.search-display {
  margin: 2rem 0;
  font-size: 1.75rem;
  text-align: center;
}
