@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka";
}

.display {
  display: none !important;
}

.header {
  width: 100vw;
  display: flex;
  position: relative;
}

.header .nav {
  width: 100%;
  height: 4rem;
  background-color: #f4d35e;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.header .search-text {
  height: 50%;
  position: absolute;
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  font-size: 1.25rem;
  top: 1rem;
  right: 5rem;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.header .search-button {
  font-size: 2rem;
  align-items: center;
  height: 2rem;
  width: 2rem;
  color: black;
  top: 1rem;
  right: 1rem;
  position: absolute;
  transition: all 0.15s ease;
}

.header .search-button:hover {
  cursor: pointer;
  color: #da4167;
  scale: 1.05;
}

.header .search-button:active {
  scale: 0.95;
}

.input-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem;
    background-color: #f4d35e;
    padding: 0.25rem; */
}

.input-container .input-content {
  width: 20vw;
  min-width: 15rem;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  background-color: #f4d35e;
  margin: 1rem 0.5rem;
  border-radius: 35px;
  color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.input-container .input-content:focus {
  outline: none;
}

.input-container .input-category {
  transition: all 0.15s ease;
}

.input-container .input-category:hover {
  cursor: pointer;
  color: #da4167;
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
}

.input-container .input-category:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.input-container .input-time {
  width: 8vw;
  min-width: 4rem;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  background-color: #f4d35e;
  margin: 1rem 0.5rem;
  border-radius: 35px;
  color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-container .input-time:focus {
  outline: none;
}

.input-container .input-submitt {
  width: 10vw;
  min-width: 8rem;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  background-color: #f4d35e;
  margin: 1rem 0.5rem;
  border-radius: 35px;
  color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease;
}

.input-container .input-submitt:hover {
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
  color: #da4167;
}

.input-container .input-submitt:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.separate-container {
  width: 100%;
  /* height: 0.5rem; */
  padding: 0 15vw;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border-bottom: #f4d35e solid 1px;
  text-align: center;
  color: #da4167;
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  font-family: "Fredoka";
}

.todo-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-area .todo-container {
  display: flex;
  flex-direction: row;
  background-color: #f4d35e;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 35px;
}

.todo-container .todo-content,
.todo-category,
.todo-time {
  font-size: 1.25rem;
  margin: 0 1rem;
}

.todo-container .check-button {
  font-size: 2rem;
  margin: 0 1rem;
  color: rgb(35, 245, 35);
}

.todo-container .check-button:hover {
  cursor: pointer;
}

.todo-container .remove-button {
  font-size: 2rem;
  margin: 0 1rem;
  color: #da4167;
}

.todo-container .remove-button:hover {
  cursor: pointer;
}

.check-toggle {
  opacity: 0.5;
  color: #da4167;
}

.modal-separate {
  width: 100%;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  border-bottom: #f4d35e solid 0.2rem;
}

.modal {
  display: flex;
  justify-content: center;
  position: relative;
}

.modal-container {
  width: 50vw;
  border: #f4d35e solid 0.2rem;
  background-color: whitesmoke;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.modal-button-container {
  display: flex;
  justify-content: space-around;
}

.modal-button-container .modal-button {
  width: 20%;
  background-color: #f4d35e;
  border: none;
  border-radius: 35px;
  color: #333;
  font-size: 1.25rem;
  margin-top: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease;
}

.modal-button-container .modal-button:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
  color: #da4167;
}

.modal-button-container .modal-button:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
}

.tag {
  background-color: #f4d35e;
  border: none;
  min-width: 20%;
  border-radius: 35px;
  color: #333;
  font-size: 1.25rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 0.5rem 0.25rem;
  transition: all 0.15s ease;
}

.tag:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
  color: #da4167;
}

.tag:active {
  scale: 0.95;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tag-checked {
  background-color: #da4167;
  color: white;
}

.tag-checked:hover {
  scale: 1.05;
  color: white;
}

.result {
  display: flex;
  justify-content: center;
  position: relative;
}

.result .result-container {
  position: absolute;
  width: 50vw;
  height: 480px;
  border: #f4d35e solid 0.2rem;
  background-color: whitesmoke;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10%);
}

.result-header {
  display: flex;
  position: relative;
  justify-content: center;
}
.result-title {
  font-size: 2.5rem;
  /* position: absolute; */
  top: 0;
  margin-top: 0.5rem;
}

.result-close-button {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  right: 0.5rem;
  top: 0.5rem;
  transition: all 0.15s ease;
}

.result-close-button:hover {
  color: #da4167;
  scale: 1.05;
}
.result-close-button:active {
  scale: 0.95;
}

.search-condition {
  font-size: 2rem;
  text-align: center;
}

.search-display {
  margin: 2rem 0;
  font-size: 1.75rem;
  text-align: center;
}
